body {
  color: #000;
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  margin: 0;
}

footer {
  height: 5%;
  width: 100vw;
  background-color: #000;
  position: fixed;
  bottom: 0;
}

header {
  height: 5%;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
}

main {
  margin: auto;
  width: 90%;
  max-width: 50%;
  min-width: 320px;
}

h1 {
  width: 100%;
  font-size: 14px;
  color: rgb(83, 80, 80);
  font-weight: 700;
  padding: 5px 20px;
}

.frm {
  margin: auto;
  margin-top: 10vh;
  width: 100%;
  min-width: 370px;
  /* stylelint-disable-next-line csstree/validator */
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  box-shadow: 5px 5px 5px 5px rgb(211, 202, 202);
  background-color: #fff;
}

button {
  width: 100%;
  height: 10vh;
  border: 0;
  box-shadow: 5px 5px 5px rgb(211, 202, 202);
  background-color: #f6f6f6;
  color: rgb(175, 167, 167);
  font-weight: 600;
  margin-bottom: 50px;
}

.addT {
  width: 100%;
  font-size: 16px;
  height: 100%;
  font-style: italic;
  color: rgb(175, 167, 167);
  border: none;
  border-top: rgb(218, 210, 210) 2px solid;
  padding-left: 25px;
}

.taskR {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  padding-left: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: rgb(218, 210, 210) 2px solid;
  background-color: #fff;
}

.task {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  margin-left: 20px;
  border: none;
}

.taskStyle {
  text-decoration: line-through;
}

.box {
  font-size: 50px;
}

.img {
  background-image: url('./images/delete.png');
  background-color: transparent;
  background-size: cover;
  background-position: center;
  margin: 10px 3px;
  width: 20px;
  height: 20px;
  margin-right: 25px;
  transition: all 0.5s;
}

.save {
  background-color: transparent;
  font-size: 30px;
  margin: auto;
  margin-right: 25px;
  transition: all 0.5s;
  height: 100%;
}

.save:hover {
  transform: rotate(90deg);
}

.addDiv {
  width: 101%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  background-color: #fff;
  border-top: rgb(218, 210, 210) 2px solid;
}

.img:hover {
  border-radius: 50%;
}

label {
  display: none;
  background-color: #fff;
}
